/* Dark mode colors */
:root {
	--sl-color-accent-low: #124041;
	--sl-color-accent: #1bbdbf;
	--sl-color-accent-high: #b8eeee;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545665;
	--sl-color-gray-5: #353641;
	--sl-color-gray-6: #24252d;
	--sl-color-black: #17181c;
}

/* Light mode colors */
:root[data-theme='light'] {
	--sl-color-accent-low: #cceeee;
	--sl-color-accent: #1bbdbf;
	--sl-color-accent-high: #0d6e70;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24252d;
	--sl-color-gray-2: #353641;
	--sl-color-gray-3: #545665;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}
